* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #444;
}

h2, h3, h4 {
  padding-top: 50px;
  display: block;
  color: white;
}

h1, h2, h3, h4 {
  font-weight: 700;
  text-transform: uppercase;
}

h1, h2, h3, h4, code, pre, nav a {
  font-family: 'Nanum Gothic Coding', monospace;
}

p {
  margin: 0;
  line-height: 1.8;
}

i {
  color: #d4d4d4;
}

a, a:visited {
  color: white;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid white;
}

a.image-link {
  border: none;
  text-align: center;
  display: inline-block;
}

body {
  background-color: #444;
  margin: 0;
}

header {
  position: relative;
  padding: 100px 0;
  text-align: center;
  background-color: #fff;
}

main {
  max-width: 800px;
  color: white;
  margin: 100px auto;
}

nav {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
}

nav a, nav a:visited {
  color: #444;
  text-transform: uppercase;
  font-size: 18px;
  display: inline-block;
  padding: 10px;
  border: none;
}

nav a.selected {
  background-color: #444;
  color: white;
}

nav a:not(.selected):hover {
  color: #000000;
}

code {
  background: #222;
  display: inline-block;
  padding: 2px 8px;
}

pre code {
  width: 100%;
  padding: 0;
  line-height: 22.5px;
}


.topology {
  width: 90%;
  margin: auto;
}

.row {
  display: flex;
}

.half {
  width: 50%;
}

.half, .full {
  min-width: 500px;
  padding-right: 20px;
}
