*:not(code, pre) {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #444;
}

h2, h3, h4 {
  display: block;
  color: white;
}

h1, h2, h3, h4 {
  padding-top: 50px;
  font-weight: 700;
  text-transform: uppercase;
}

h1:first-of-type {
  padding-top: 0;
  margin-top: 0;
}

h1, h2, h3, h4, code, pre, nav a {
  font-family: 'Source Code Pro', monospace;
}

p {
  margin: 0;
  line-height: 1.8;
}

ul {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}

ul li {
  line-height: 1.8;
  margin: 0px;
}

i {
  color: #d4d4d4;
}

a, a:visited {
  color: white;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid white;
}

a.image-link {
  border: none;
  text-align: center;
  display: inline-block;
}

body {
  background-color: #444;
  margin: 0;
}

header {
  position: relative;
  padding: 100px 0;
  text-align: center;
  background-color: #fff;
}

main {
  max-width: 800px;
  color: white;
  margin: 100px auto;
  padding: 6%;
  font-family: 'Open Sans', sans-serif;
}

nav {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 400px;
}

nav a, nav a:visited {
  color: #444;
  text-transform: uppercase;
  font-size: 18px;
  display: inline-block;
  padding: 10px;
  border: none;
}

nav a.selected {
  background-color: #444;
  color: white;
}

nav a:not(.selected):hover {
  color: #000000;
}

code {
  font-family: 'Nanum Gothic Coding', monospace;
  background: #333;
  display: inline-block;
  padding: 2px 8px;
  overflow: auto;
}

pre {
  display: flex;
}

pre code {
  width: 100%;
  padding: 20px;
  line-height: 24.5px;
}

main.api {
  display: flex;
}

main.api .toc {
  margin-left: -25%;
  flex-basis: 30%;
}

main.api .docs {
  flex-basis: 70%;
}

main.api * {
  text-transform: none;
}

main.api h1 {
  color: white;
}

main.api h3 {
  font-size: 24px;
}

main.api h4 {
  padding-top: 20px;
  font-size: 20px;
}

table, table td, table th {
  border: 1px solid #999;
  border-collapse: collapse;
  padding: 8px;
  color: #999;
}

table th {
  background: #555;
}

table {
  margin: 20px 0;
  width: 100%;
}

.topology {
  width: 90%;
  margin: auto;
}

.row {
  display: flex;
}

.half {
  width: 50%;
}

.half, .full {
  padding-right: 20px;
}
